<a href="https://colab.research.google.com/github/A-A27/Baekjoon_Python/blob/main/programmers/%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C_7%EA%B0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 연습문제 _ 하샤드 수
def solution(x):
  list = [int((str(x))[i]) for i in range(len(str(x)))]
  answer = sum(list)
  return x%answer == 0
solution(10)

# 다른 풀이... (비슷)
def Harshad(n):
  return n % sum([int(c) for c in str(n)]) == 0

True

In [ ]:
# 연습문제 _ 평균 구하기
def solution(arr):
  answer = sum(arr)/len(arr)
  return answer
solution([1,2,3,4])

2.5

In [ ]:
# 연습문제 _ 콜라츠 추측
def solution(num):
  answer = 0
  while num != 1:
    try:
      if num%2 == 0:
        num = num / 2
        answer += 1
      elif num%2 != 0:
        num = num*3 + 1
        answer += 1
    except:
        break
  if answer >= 500:
    answer = -1
  return answer
solution(6)

8

In [ ]:
# 연습문제 _ 짝수와 홀수
def solution(num):
  answer = ''
  if num%2 == 0:
    answer = 'Even'
  else:
    answer = 'Odd'
  return answer
solution(3)

'Odd'

In [ ]:
# 연습문제 _ 제일 작은 수 제거하기
def solution(arr):
  arr.remove(min(arr))
  if len(arr) == 0:
    arr.append(-1)
  return arr
solution([4,3,2,1])

[4, 3, 2]

In [ ]:
# 연습문제 _ 정수 제곱근 판별
import math
def solution(n):
  if str(math.sqrt(n))[len(str(math.sqrt(n)))-2: len(str(math.sqrt(n)))] == '.0':
    answer = (int(math.sqrt(n))+1)**2
  else:
    answer = -1
  return answer
solution(121)

144

In [ ]:
# 연습문제 _ 정수 내림차순으로 배치하기
def solution(n):
  list_n = list(str(int(n)))
  list_n.sort(reverse=True)
  answer = int(''.join(list_n))
  return answer
solution(5830359893)

9988553330

In [ ]:
# 연습문제 _ 자연수 뒤집어 배열로 만들기
def solution(n):
  list_n = list(str(n))
  list_r = list(str(n))
  for i in range(len(list_n)):
    list_r[i] = int(list_n[len(list_n)-i-1])
  return list_r
solution(12345)

# 다른 풀이...
def digit_reverse(n):
  return list(map(int,reversed(str(n))))

[5, 4, 3, 2, 1]

In [1]:
# 연습문제 _ 자릿수 더하기
def solution(n):
  return sum(list(map(int,str(n))))
solution(123)

6